<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>c-oj.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>一、计算操场的面积.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>七、查验身份证.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>三、统计A.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>二、满减活动.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>五、绘制棒图.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>亲和数（函数）.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>六、矩阵操作.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>四、求中位数.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>弦截法求根.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>排队游戏（字符串）.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>数组奇偶排序（数组）.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>求共同元素（数组）.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>求组合数的值----函数.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>矩阵运算.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>箱子匹配（选择）.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>约瑟夫环.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>课堂练习1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>身份证升位（字符串）.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8503394D24120B2E0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8503395A241249FC0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8503396524124C2E0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033970241252EF0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8503397B241261410033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033986241262430033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033991241267D30033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8503399C241268FE0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850339A724126E1F0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850339B224127C4D0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850339BD24127D800033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850339C824127E8E0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850339D32412AC8A0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850339DE2412ADF60033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850339F42412AFBB0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850339FF2412B30D0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033A0A2412B79C0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033A152412B98D0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033A20241347E30033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033A2B24134DED0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033A3624135D1A0033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033A41241364560033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033A4C24136AE10033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85033A5724137A730033D484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1EF92422720500667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F0524234D8600667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F10242356B500667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F1B24235EA300667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F2624236E8500667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F31242370EB00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F3C242372D600667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F472423743B00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F522423762600667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F5D2423777400667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F69242377F600667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F7424237B5A00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F7F24237E5900667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F8A2423887200667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1F9524238F5C00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1FA02423A02000667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1FAB2423A54300667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1FB62423AB0900667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1FC12424A58200667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1FCC2424A92F00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1FD72424ACDD00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1FE22424CBD400667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1FED2424D23E00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A1FF82424D27F00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A20052424FA4500667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A201024251F6D00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A201B2425C19700667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A20262425C8FB00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A20312425CEDA00667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A203C2425D33000667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854A20472425DC3000667FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1632418BBC400537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC16E2418C0C300537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1792418DA8B00537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1842418F8B800537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC18F2419007300537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC19A24194BCD00537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1A5241A1D6200537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1B0241A1F7100537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1BB241A2B6A00537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1C6241A38B700537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1D1241A47F600537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1DC241A59AF00537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1E7241A65C200537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1F2241A924900537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC1FD241A96AF00537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC208241A96CE00537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC213241A99C100537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC21E241B64A500537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC229241B780400537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC234241B7E8200537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC23F241B9B3100537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC24A241B9CE500537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854EC257241BA22100537FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D76692421F3E200116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D76742421F85600116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D767F2421FB2300116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D768A2421FE2A00116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D76972422076700116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D76A224220A1300116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D76AD2422167500116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D76B82422190100116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D76C324221FB500116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D76CE2422689400116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859D76D924226BDE00116195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86D92241E0336006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86D9D241E0470006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86DA8241E05DD006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86DB3241E0887006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86DBE241E0C5D006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86DC9241E1A5E006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86DD4241E3604006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86DDF241E40BF006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86DEA241E4A44006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86DF5241E5669006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E00241E771D006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E0B241F51C8006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E17241F80C1006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E22241F83B1006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E2D241FB167006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E38241FB722006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E43241FBA4F006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E4E241FC907006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E5B2420ADE4006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E662420B3C4006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E722420B973006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E7D242121EB006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E8824212771006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E9324212AD2006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A86E9E24212AE7006479C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85B47AD72417F9B6003CACCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85CC7CD72456BC9300D941F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85D1AB5424B5B72500371213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85D1AB8024B5BF1F00371213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F99E02240F5BFB002742CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F99E0D240F5FDE002742CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F99E18240F6579002742CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F99E23240F66F3002742CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F99E2E2410B76F002742CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F99E392410B8B3002742CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F99E442410B99A002742CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F99E4F241107F0002742CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F99E5A241108B2002742CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85F99E6524110ADF002742CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
